<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<title>{{pkg.name}} - {{name}}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="/dist/css/main.css" />
		<script src="/dist/js/about.js"></script>
	</head>
	<body>
		<div>
			{{name}}
		</div>
	</body>
</html>